/* Dung Beetle styles */
.dung_beetle {font-family:Courier new, serif; font-size:8.5pt; position:absolute; background:#eee !important; z-index:16777271; text-align:left;}
.dung_logo {background:transparent url(dung_sprite.gif) no-repeat scroll 0 -71px; cursor:pointer; height:29px; left:7px; opacity:0.9; position:absolute; top:-2px; width:33px; filter:alpha(opacity=90);}
.dung_logo:hover {opacity:1; filter:alpha(opacity=100);}
.dung_tip {background:#ddeeff; border:1px dashed #666; padding:3px; display:none; position:absolute;}

/* DOM viewing styles */
.dung_outline {background:#8888ff; position:absolute; top:0; left:0; width:2px; height:2px; line-height:0; font-size:0;}
.dung_overlay, .dung_padding, .dung_margin {opacity:.7; filter:alpha(opacity = 70); position:absolute; display:none; line-height:0; font-size:0; z-index:16777270;}
.dung_overlay {background:#660033;}
.dung_padding {background:#8822EE;}
.dung_margin {background:#99BBFF;}

.dung_display {position:absolute; top:52px; left:2px; height:93px; width:800px; border:1px solid #8D98A1; border-top:0; background:#fff; overflow:auto;}
.dung_tray {position:absolute; top:26px; left:0; height:25px; background:#fff; border-bottom:1px solid #ccc;}
.dung_styler {position:absolute; top:51px; left:806px; height:130px; width:100px; border:1px solid #8D98A1; background:#fff; overflow:auto;}
.dung_vertical_divide {height:132px; width:2px; border-left:1px solid #fff; border-right:1px solid #888; top:26px; left:804px; position:absolute; cursor:w-resize;}

/* CSS view styles */
.dung_pair input {width:10px;}
.dung_style_cancel {margin:3px 3px 0;padding:0 3px; width:10px; height:10px; float:left;}
.dung_style_cancel:hover {background:transparent url(dung_sprite.gif) -19px -61px no-repeat scroll; cursor:pointer;}
.dung_pair {clear:both;}
.dung_pair.canceled div.cancel,
.dung_pair.canceled div.cancel:hover {background:url(dung_sprite.gif) transparent top center no-repeat scroll;}
.dung_pair.canceled span {color:gray !important; text-decoration:line-through;}
.dung_val {cursor:text; color:#660033;}
.dung_attr {color:#3311DD;}
.dung_css_selector.canceled span, .dung_css_selector.canceled div {color:gray !important; background-color:#eee;}
.dung_css_selector img {cursor:pointer; border:0 none; margin:0 8px;}
.dung_css_selector img:hover {cursor:pointer; background:red;}
.dung_style_header {float:left;}
.dung_cancel_selector {background:transparent url(dung_sprite.gif) no-repeat scroll -19px -61px; float:left; height:10px; opacity:0.6; width:10px; filter:alpha(opacity=76); margin:2px 4px 0;}
.dung_cancel_selector:hover {opacity:1.0; filter:alpha(opacity=100); cursor:pointer;}

.edit_input {font-family:Courier new, serif; font-size:9pt; border:1px solid #aaaaff; margin:0; padding:0; clear:none;}
.dung_resize {height:3px; cursor:s-resize; background:#ddd url(dung_sprite.gif) repeat-x scroll 0 -126px; border-top:1px solid #bbb; z-index:901;}
.dung_header {font-family:Trebuchet MS, sans-serif; background:#ddd url(dung_sprite.gif) repeat-x scroll 0 -100px; border-bottom:1px solid #bbb; height:22px; position:absolute; top:3px; left:0; width:100%}
.dung_header span {font-weight:bold; color:#660033; position:absolute; left:5px; top:3px; }
.dung_header span a {font-weight:bold; color:#660033;}
.dung_header .dung_tab, .dung_inspect {background:#DDDDDD url(dung_sprite.gif) repeat-x scroll 0 -100px; outline:none; font-size:9pt; width:101px; text-align:center; height:19px; _height:23px; margin:0; padding:3px 0 0; border:1px solid #aaa; top:-1px; font-family:Trebuchet MS, sans-serif; cursor:pointer; position:absolute; overflow:hidden;}
.dung_header .dung_inspect {padding:1px 0 0; left:50px; height:17px; !important; _height:20px; top:0; width:80px; border-color:#ccc #888 #777 #ccc;}
.dung_header .dung_inspect.dung_active {color:#fff; background:#883355;}
.dung_header .dung_tab.dung_console {left:190px;}
.dung_header .dung_tab.dung_html {left:295px;}
.dung_header .dung_tab.dung_dom {left:400px;}
.dung_header .dung_tab:hover {background:#fff;}
.dung_header .dung_tab.dung_active {background:#fff; color:#883355; border-bottom:1px solid #fff; _height:24px;}
.dung_color_view {height:30px; width:30px; border:1px solid #888; display:none; position:absolute; z-index:9999;}
div.dung_upsize {height:15px; width:15px; position:absolute; top:1px; right:3px; cursor:pointer; z-index:2;}
div.dung_upsize:hover {cursor:pointer;}
.dung_close, .dung_updown, .dung_windowed {background:url(dung_sprite.gif) top left no-repeat; position:absolute; right:5px; top:5px; cursor:pointer; opacity:0.8; filter:alpha(opacity=80); height:15px; width:15px;}
.dung_close:hover, .dung_updown:hover, .dung_windowed:hover {opacity:1; filter:alpha(opacity=100);}
.dung_updown {background-position:0 -15px; right:41px;}
.dung_windowed {background-position:0 -45px; right:23px;}
.dung_close:active {background-position:-15px 0;}
.dung_updown:active {background-position:-15px -15px;}
.dung_windowed:active {background-position:-15px -30px;}

/* Dung Tree styles */
.dung_attr_edit {color:#660033; cursor:text;}
.dung_html_attr {color:#000099; cursor:text;}
.dung_node {margin-left:20px; cursor:text;}
.dung_tag_open, .dung_tag_end {color:#000099; cursor:pointer; float:left;}
.dung_tag_open.empty {margin-left:17px;}
.dung_tag_end {clear:both; margin-left:16px;}
.dung_dom_selected, .dung_dom_selected span {background:#994372; color:#fff;}
.dung_node_toggle {background:url(dung_sprite.gif) no-repeat -10px -60px; float:left; width:9px; height:9px; margin:4px; _margin:4px 4px 0; _height:6px; cursor:pointer;}
.dung_node_toggle.closed {background-position:0 -60px;}
.dung_node {clear:both;}
.dung_text_node {clear:both; margin:0 0 0 37px;}

/* Console display styles */
.dung_beetle textarea {font-size:8.5pt; width:790px; height:15px; bottom:2px; left:12px; border:1px solid #aaa; margin:0; padding:0; position:absolute;font-family:Courier new, serif;}
.dung_cursor {width:10px; height:15px; _height:17px; bottom:2px; left:2px; color:#660033; border:1px solid #aaa; background:#fff; border-right:0 none; position:absolute; z-index:99999;}
.dung_beetle .dung_upsize {background:url(dung_sprite.gif) 0 -45px no-repeat scroll; width:15px; height:15px; bottom:2px; right:2px; top:auto !important; display:none; position:absolute;}
.dung_beetle .dung_upsize:hover {background-position:0 -60px;} 
.dung_beetle .dung_upsize:active {background-position:0 -75px;}
.dung_beetle .dung_downsize {background:url(dung_sprite.gif) -15px -45px no-repeat scroll; width:15px; height:15px; bottom:2px; right:2px; top:auto !important; display:none; position:absolute;}
.dung_beetle .dung_downsize:hover {background-position:-15px -60px;} 
.dung_beetle .dung_downsize:active {background-position:-15px -75px;}
.dung_console {border:1px solid #aaa; height:15px; bottom:18px; left:2px; width:800px; background:#fff; font-weight:bold; position:absolute; overflow:auto;}
.dung_console .dung_function {color:#008800;}
.dung_number {color:red;}
.dung_string {color:#110088;}
.dung_boolean {color:#44BB11;}
.dung_element {color:#660033;}
.dung_other {color:brown;}
.dung_obj_lbl {color:#660033; font-weight:bold;}
.dung_obj_lbl.dung_sub_obj {color:#666;}
.dung_error {color:#aa0000; background:#ffeeee; padding:5px;}
.dung_error span {color:red !important !important;}
.dung_stack {background:#ffffe0; width:100%; padding-left:24px; float:left; width:100%;}
.dung_sh {background:#ffffe0; width:100%; text-decoration:underline; margin-bottom:5px;}
.dung_stack .dung_line {color:orange; font-weight:bold;}
.dung_stack .dung_loc {color:green; font-weight:bold;}
.dung_stack .dung_sl {float:left; width:100%; clear:both;}
.dung_stack .dung_sf {color:#008800; float:left; clear:both; height:1.5em;}
.dung_stack .dung_sf:hover {cursor:pointer; text-decoration:underline;}
.dung_stack .dung_args {float:left;}
.console_response {border-bottom:1px solid #ddd;}
.console_buttons {height:22px; bottom:2px; left:808px; border-top:1px solid #fff; background:#D7D9DE; position:absolute; width:200px; display:none;}
.console_buttons span {text-align:center; border:1px outset #fff; background:#ddd; width:50px; height:15px; top:3px; position:absolute; display:block; font-family:Trebuchet MS, sans-serif;}
.console_buttons span:hover {cursor:pointer; background:#883355; color:#fff;}
.console_buttons .dung_execute {left:3px;}
.console_buttons .dung_clear {left:60px;}

.dung_push {background:transparent; width:100px; height:160px; margin:0; padding:0; clear:both;}
