/* Dung Beetle styles */
.dung_beetle {font-family:Courier new, serif; font-size:8.5pt; position:fixed; bottom:0; left:0; background:#eee; z-index:900; overflow:hidden;}
.dung_tip {background:#ddeeff; border:1px dashed #666; padding:3px; display:none; position:absolute;}

/* DOM viewing styles */
.dung_outline {background:#8888ff; position:absolute; top:0; left:0; width:2px; height:2px;}
.dung_overlay, .dung_padding, .dung_margin {opacity:.8; filter:alpha(opacity = 80); position:absolute; display:none; line-height:0; font-size:0;}
.dung_overlay {background:#660033;}
.dung_padding {background:#8822EE;}
.dung_margin {background:#99BBFF;}

.dung_display {position:absolute; top:26px; left:2px; height:95px; width:800px; border:1px solid #8D98A1; border-top:0; background:#fff; overflow:auto;}
.dung_styler {position:absolute; top:26px; left:806px; height:130px; width:100px; border:1px solid #8D98A1; background:#fff; overflow:auto;}
.dung_vertical_divide {height:132px; width:2px; border-left:1px solid #fff; border-right:1px solid #888; top:26px; left:804px; position:absolute; cursor:w-resize;}

/* CSS view styles */
.dung_pair input {width:10px;}
.dung_pair div.cancel {margin:3px 3px 0;padding:0 3px; width:10px; height:10px; float:left;}
.dung_pair div.cancel:hover {background:#888; background:url(dung_cancel_gray.gif) transparent top center no-repeat scroll; cursor:pointer;}
.dung_pair.canceled div.cancel,
.dung_pair.canceled div.cancel:hover {background:url(dung_cancel.gif) transparent top center no-repeat scroll;}
.dung_pair.canceled span {color:gray !important; text-decoration:line-through;}
.dung_val {cursor:text; color:#660033;}
.dung_attr {color:#3311DD;}
.dung_css_selector.canceled span, .dung_css_selector.canceled div {color:gray !important; background-color:#eee;}
.dung_css_selector img {cursor:pointer; border:0 none; margin:0 8px;}
.dung_css_selector img:hover {cursor:pointer; background:red;}

.edit_input {font-family:Courier new, serif; font-size:9pt; border:1px solid #aaaaff; margin:0; padding:0; clear:none;}
.dung_resize {height:3px; cursor:s-resize; background:#ddd url(dung_sprite.gif) repeat-x scroll 0 -126px; border-top:1px solid #bbb; z-index:901;}
.dung_attr_edit {color:#660033; cursor:text;}
.dung_html_attr {color:#000099; cursor:text;}
.dung_node {margin-left:20px; cursor:text;}
.dung_tag_open, .dung_tag_close {color:#000099; cursor:pointer;}
.dung_dom_selected.dung_tag_open, .dung_dom_selected.dung_tag_open span {background:#994372; color:#fff;}
.dung_header {font-family:Trebuchet MS, sans-serif; background:#ddd url(dung_sprite.gif) repeat-x scroll 0 -126px; border-bottom:1px solid #bbb; height:22px; position:absolute; top:3px; left:0; width:100%}
.dung_header span {font-weight:bold; color:#660033; position:absolute; left:5px; top:3px; }
.dung_header span a {font-weight:bold; color:#660033;}
.dung_header .dung_tab {background:#DDDDDD url(dung_sprite.gif) repeat-x scroll 0 -126px; outline:none; font-size:9pt; width:101px; text-align:center; height:19px; margin:0; padding:3px 0 0; border:1px solid #aaa; top:-1px; font-family:Trebuchet MS, sans-serif; cursor:pointer; position:absolute;}
.dung_header .dung_tab.dung_inspect {padding:2px 0 0; left:85px; height:18px; border-bottom:1px solid #aaa !important;}
.dung_header .dung_tab.dung_inspect.dung_active {color:#fff; background:#883355;}
.dung_header .dung_tab.dung_console {left:190px;}
.dung_header .dung_tab.dung_html {left:295px;}
.dung_header .dung_tab.dung_dom {left:400px;}
.dung_header .dung_tab:hover {background:#fff;}
.dung_header .dung_tab.dung_active {background:#fff; color:#883355;}
.dung_color_view {height:30px; width:30px; border:1px solid #888; display:none; position:absolute; z-index:9999;}
div.dung_upsize:hover {cursor:pointer;}
div.dung_upsize {height:15px; width:15px; position:absolute; top:1px; right:3px; cursor:pointer;}
#dung_close {background:url(dung_icons.gif) 0 0 no-repeat scroll;}
#dung_close:hover {background-position:0 -15px;}
#dung_close:active {background-position:0 -30px;}

/* Console display styles */
.dung_beetle textarea {font-size:8.5pt; width:790px; height:15px; bottom:2px; left:12px; border:1px solid #aaa; margin:0; padding:0; position:absolute;font-family:Courier new, serif; }
.dung_beetle div.cursor {width:10px; height:15px; bottom:2px; left:2px; color:#660033; border:1px solid #aaa; background:#fff; border-right:0 none; position:absolute;}
.dung_beetle .upsize {background:url(dung_icons.gif) 0 -45px no-repeat scroll; width:15px; height:15px; bottom:2px; right:2px; top:auto !important; display:none; position:absolute;}
.dung_beetle .upsize:hover {background-position:0 -60px;} 
.dung_beetle .upsize:active {background-position:0 -75px;}
.dung_beetle .downsize {background:url(dung_icons.gif) -15px -45px no-repeat scroll; width:15px; height:15px; bottom:2px; right:2px; top:auto !important; display:none; position:absolute;}
.dung_beetle .downsize:hover {background-position:-15px -60px;} 
.dung_beetle .downsize:active {background-position:-15px -75px;}
.dung_console {border:1px solid #aaa; height:15px; bottom:18px; left:2px; width:800px; background:#fff; font-weight:bold; position:absolute; overflow:auto;}
.dung_number {color:red;}
.dung_string {color:#110088;}
.dung_boolean {color:#44BB11;}
.dung_function {color:#008800;}
.dung_element {color:#660033;}
.dung_other {color:brown;}
.dung_obj_lbl {color:#660033; font-weight:bold;}
.dung_obj_lbl.dung_sub_obj {color:#666;}
.dung_error, .dung_error span {color:#aa0000; background:#ffeeee;}
.console_response {border-bottom:1px solid #ddd;}
.console_buttons {height:22px; bottom:2px; left:808px; border-top:1px solid #fff; background:#D7D9DE; position:absolute; width:200px; display:none;}
.console_buttons span {text-align:center; border:1px outset #fff; background:#ddd; width:50px; height:15px; top:3px; position:absolute; display:block; font-family:Trebuchet MS, sans-serif;}
.console_buttons span:hover {cursor:pointer; background:#883355; color:#fff;}
.console_buttons .dung_execute {left:3px;}
.console_buttons .dung_clear {left:60px;}

.dung_push {background:transparent; width:100px; height:160px; margin:0; padding:0}
